{% extends 'base.html' %}

{% block Title %}
    <title>Dashboard</title>
{% endblock %}

 {% block Content %}
    <div class="row">
        <div class="wrapper wrapper-content">
                <div class="animated fadeInRightBig">
                    <h3 class="font-bold">Dashboard</h3>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-xl-6">
                            <div class="ibox-content text-center   white-bg">
                                <div class="m-t-xl">
                                    <h3>Consultar Bus</h3>
                                    <button type="button" class="btn btn-w-m btn-success">Ir</button>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-6 col-md-6 col-xl-6">
                            <div class="wrapper wrapper-content">
                                <div class="widget style1 lazur-bg">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <i class="fa fa-envelope-o fa-5x"></i>
                                        </div>
                                        <div class="col-xs-8 text-right">
                                            <span> New messages </span>
                                            <h2 class="font-bold">260</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget lazur-bg no-padding col-lg-12">
                                    <div class="p-m">
                                        <h1 class="m-xs">$ 210,660</h1>
                        
                                        <h3 class="font-bold no-margins">
                                            Monthly income
                                        </h3>
                                        <small>Income form project Beta.</small>
                                    </div>
                                    <div class="flot-chart">
                                        <div class="flot-chart-content" id="flot-chart2" style="padding: 0px; position: relative;"><canvas class="flot-base" width="567" height="100" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 567px; height: 100px;"></canvas><canvas class="flot-overlay" width="567" height="100" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 567px; height: 100px;"></canvas></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
{% endblock %}
{% block JavaScript %}


{% endblock %}
