{% load static %}
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block Title %}
        <title>Cambiar contraseña</title>
    {% endblock %}

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet">

    <link href="{% static 'css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/ok.css' %}" rel="stylesheet">
</head>

<body>

    <div class="row">
        <div class="split left col-sm-6 col-md-6 col-lg-6 col-xl-6 ">
             <div class="centered">
                <img src="{% static 'img/logo.png' %}"/>
                <h1 class="font-bold">EzTicket - Unab </h1>
            </div>
        </div>
        <div class="split right col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <div class="ibox-content">
                <h1 class="font-bold">EzTicket</h1>
                <br>
                <br>
                <div class="m-t">
                    <div class="form-group">
                        <input type="password" id="pass" class="form-control" placeholder="Nueva contraseña">
                    </div>
                    <div class="form-group">
                        <input type="password" id="confpass" class="form-control" placeholder="Confirmar nueva contraseña">
                    </div>
                    <button type="button" id="password_btn" class="btn btn-primary block full-width m-b">Cambiar contraseña</button>
                </div>
            </div>
        </div>
    </div>

<!-- Mainly scripts -->
<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
<script src="{% static 'js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

<!-- Custom and plugin javascript -->
<script src="{% static 'js/inspinia.js' %}"></script>
<script src="{% static 'js/plugins/pace/pace.min.js' %}"></script>
<script src="{% static 'js/plugins/sweetalert2/sweetalert2.all.min.js' %}"></script>
<script>
    $(document).ready(function(){
        $("#password_btn").on('click',function(){
            if($("#pass").val() == $("#confpass").val()){
                $.ajax({
                    url: '{% url "Login_forgot_password" %}',
                    type: 'POST',
                    data: {
                        'pass': $("#pass").val(),
                        'csrfmiddlewaretoken': '{{ csrf_token}}'
                    },
                    success: function(data){
                        if (data.result){
                            window.location.href = "{% url 'Login_login' %}"
                        }
                    },
                    error: function(){
                        alert("error")
                    }
                });
            }else{
                swal({
                    title: 'Oops...',
                    text: 'Las contraseñas no coinciden',
                    type: 'error'
                })
            }
        })
    });
</script>

</body>

</html>
