{% load static %}
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block Title %}
        <title>Login</title>
    {% endblock %}

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet">

    <link href="{% static 'css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/ok.css' %}" rel="stylesheet">
</head>

<body>

    <div class="row">
        <div class="split left col-sm-6 col-md-6 col-lg-6 col-xl-6 ">
             <div class="centered">
                <img class="img-responsive" src="{% static 'img/logo.png' %}"/>
                <h1 class="font-bold">EzTicket - Unab </h1>
            </div>

        </div>
        <div class="split right col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <div class="ibox-content">
                    <h1 class="font-bold">EzTicket</h1>
                    <br>
                    <h4>Welcome back! Please login to your account</h4>
                    <br>
                    <div class="m-t">
                        <div class="form-group">
                            <input type="email" id="user" class="form-control" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <input type="password" id="pass" class="form-control" placeholder="Password">
                        </div>
                        <button type="button" id="login_btn" class="btn btn-primary block full-width m-b">Login</button>
                        <a href="{% url 'Login_email_password' %}">
                            <small>Forgot password?</small>
                        </a>
                        <p class="text-muted text-center">
                            <small>Do not have an account?</small>
                        </p>
                        <a class="btn btn-sm btn-white btn-block" href="{% url 'Login_register' %}">Create an account</a>
                    </form>
                </div>
            
        </div>
    </div>

<!-- Mainly scripts -->
<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
<script src="{% static 'js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

<!-- Custom and plugin javascript -->
<script src="{% static 'js/inspinia.js' %}"></script>
<script src="{% static 'js/plugins/pace/pace.min.js' %}"></script>
<script src="{% static 'js/plugins/sweetalert2/sweetalert2.all.min.js' %}"></script>
<script>
    $(document).ready(function(){
        $("#login_btn").on('click',function(){
            $.ajax({
                url: '{% url "Login_login" %}',
                type: 'POST',
                data: {
                    'user': $("#user").val(),
                    'pass': $("#pass").val(),
                    'csrfmiddlewaretoken': '{{ csrf_token}}'
                },
                success: function(data){
                    if (data.result){
                        window.location.href = "{% url 'Login_dashboard' %}"
                    }else{
                        swal({
                            title: 'Oops...',
                            text: 'Usuario y/o contraseña incorrecta',
                            type: 'error'
                        })
                    }

                },
                error: function(){
                    alert("error")
                }
            });

        })
    });
</script>

</body>

</html>
