{% extends 'base.html' %}
{% load static %}
{% block Title %}
    <title>Subasta</title>
{% endblock %}

{% block Style %}

{% endblock %}

 {% block Content %}

    <div class="wrapper wrapper-content row animated fadeInRightBig">
        <div class="row">
            <div class="">
                <div class="ibox float-e-margins">
                    <div class="col-md-4 col-lg-4 col-xl-4">
                        <div class="ibox-content no-padding">
                            <img alt="image" class="img-responsive" src="{% static 'img/Qr.png' %}">
                        </div>
                        <div class="ibox-content profile-content ">
                            <h2 class="fa fa-map-marker"><strong> {{passage.destination}}</strong></h2>
                            <p> {{passage.station_departure}}</p>
                            <p>{{passage.date_departure}}</p> <p>{{passage.hour_departure}}</p>
                            <p>Piso: {{passage.seat}}</p>
                        </div>
                    <button onclick="changeClass()" type="button" id="botonsubastar" class="btn btn-block btn-danger">Subastar</button>
                    <div class="text-right m-t-sm">
                        <a type="button" href="{% url 'Print_tablePrint' %}" class="btn btn-sm btn-success">Volver</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-6 m-l-n-lg hide animated fadeIn" id="hidecontent">
                <div class="ibox">
                    <div>
                        <div class="ibox-content">
                            <h2><strong>Pasaje a Subastar</strong></h4>
                            <h4 class="text-muted">Informacion del pasaje</h4>
                        </div>
                        <div class="ibox-content profile-content">
                            <h2 class="fa fa-map-marker"><strong> {{passage.destination}}</strong></h2>
                            <div class="m-t-lg">
                                        <input type="text" id="price" placeholder="Monto minimo" class="form-control m-t-lg">
                                        <div class="text-left">
                                            <span class="help-block m-b-none m-t-xs">Ingresa el monto minimo de la subasta</span>
                                        </div>
                                        <input type="text" id="date" placeholder="Fecha de termino" data-mask="9999-99-99" class="form-control m-t-lg">
                                        <div class="text-left m-b-xl">
                                            <span class="help-block m-b-none m-t-xs">Ingresa la fecha de termino de la subasta</span>
                                        </div>
                                        <input type="text" id="hour" placeholder="Hora de termino" data-mask="99:99:99" class="form-control m-t-lg">
                                        <div class="text-left m-b-xl">
                                            <span class="help-block m-b-none m-t-xs">Ingresa la hora de termino de la subasta</span>
                                        </div>
                                        <div class="m-t-xl">
                                            <button type="button" type="button" data-id="{{passage.pk}}" id="botonsubastar2" class="btn btn-block btn-primary">Subastar</button>
                                        </div>
                                    </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block JavaScript %}

<script type="text/javascript">
    function changeClass(){
        if ( document.getElementById("hidecontent").classList.contains('hide') ) {
            document.getElementById("hidecontent").classList.remove('hide');
        }
        else {
            document.getElementById("hidecontent").classList.add('hide');
        }
    }
    $(document).ready(function(){

        $("#botonsubastar2").on('click',function(){
            $.ajax({
                url: '{% url "Print_print" passage.pk %}',
                type: 'POST',
                data: {
                    'price': $("#price").val(),
                    'date': $("#date").val(),
                    'hour': $("#hour").val(),
                    'csrfmiddlewaretoken': '{{ csrf_token}}'
                },
                success: function(data){
                    window.location.href = "{% url 'Print_tablePrint' %}"
                },
                error: function(){
                    alert("error")
                }
            });
            
        })
    })
    

</script>
{% endblock %}
