{% extends 'base.html' %}

{% block Title %}
    <title>Tus Pasajes</title>
{% endblock %}

{% block Style %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
{% endblock %}

 {% block Content %}

    <div class="wrapper wrapper-content row animated fadeInRightBig">
        <div class="col-lg-12">
            <div class="ibox-content">
                <table id="myTable" class="display">
                    <thead>
                        <tr>
                            <th>Ciudad Destino</th>
                            <th>Terminal</th>
                            <th>Fecha</th>
                            <th>Hora Salida</th>
                            <th>Empresa</th>
                            <th>Accion</th>
                            </tr>
                    </thead>
                    <tbody>
                        {% for x in passages %}
                            <tr>
                                <td>{{x.destination}}</td>
                                <td>{{x.station_departure}}</td>
                                <td>{{x.date_departure}}</td>
                                <td>hora</td>
                                <td>{{x.company}}</td>
                                <td class="center"><a type="button" href="{% url 'Print_print' x.pk %}" class="btn btn-xs btn-success">Ver</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block JavaScript %}
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

<script>
    $(document).ready( function () {
    $('#myTable').DataTable();
} );
</script>
{% endblock %}
